.ditz-config
.gdb_history
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
core
core.*
data/ceil_large.png
data/external.png
data/floor.png
data/goal-floor.png
data/goal-pass.png
data/mouse_area.png
data/pc/*.png
data/slime/*.png
data/stone/*.png
data/switch-pressed.png
data/switch-released.png
data/wall.png
doc/attack.avi
doc/demo.avi
doc/demo.ogg
doc/demo1.avi
doc/demo2.avi
doc/images/how_to_move.png
doc/stone.avi
doc/thumbnails/*.png
gmon.out
