.gdb_history
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
core
data/external.png
data/floor.png
data/mouse_area.png
data/pc/walk0.png
data/pc/walk1.png
data/wall.png
